In [1]:
import pandas as pd
import random
from faker import Faker

In [2]:
fake = Faker()

In [12]:
gender_options = ["M", "F"]
diagnosis_options = ["Myocardial Infarction", "Heart Failure", "Arrhythmia", "Hypertension"]
medication_options = ["Atenolol", "Lisinopril", "Metoprolol", "Ramipril", "Digoxin"]

In [13]:
data = []
for _ in range(10):
    name = fake.name()
    age = random.randint(30, 80)
    gender = random.choice(gender_options)
    diagnosis = random.choice(diagnosis_options)
    diagnosis_date = fake.date_between(start_date="-10y", end_date="today")
    medication = random.choice(medication_options)
    urgency = random.randint(1, 5)
    data.append([name, age, gender, diagnosis, diagnosis_date, medication, urgency])

In [15]:
cardio_diagnostic_df = pd.DataFrame(data, columns=["Name", "Age", "Gender", "Diagnosis", "Diagnosis Date", "Medication", "Urgency Level"])

In [16]:
cardio_diagnostic_df.head(5)

,Name,Age,Gender,Diagnosis,Diagnosis Date,Medication,Urgency Level
0,Joshua Roberts,66,F,Myocardial Infarction,2022-03-27,Metoprolol,2
1,Robert Kerr,37,F,Myocardial Infarction,2018-12-31,Atenolol,5
2,Cynthia Richard,39,M,Heart Failure,2017-08-06,Atenolol,2
3,Brooke Robinson,55,M,Arrhythmia,2016-06-01,Digoxin,1
4,Rebecca Ellis,69,M,Hypertension,2020-02-16,Lisinopril,3

In [18]:
cardio_diagnostic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            10 non-null     object
 1   Age             10 non-null     int64
 2   Gender          10 non-null     object
 3   Diagnosis       10 non-null     object
 4   Diagnosis Date  10 non-null     object
 5   Medication      10 non-null     object
 6   Urgency Level   10 non-null     int64
dtypes: int64(2), object(5)
memory usage: 688.0+ bytes

In [19]:
cardio_diagnostic_df.value_counts()

Name                Age  Gender  Diagnosis              Diagnosis Date  Medication  Urgency Level
Brooke Robinson     55   M       Arrhythmia             2016-06-01      Digoxin     1                1
Connie Stanley      52   F       Myocardial Infarction  2021-01-02      Atenolol    3                1
Cynthia Richard     39   M       Heart Failure          2017-08-06      Atenolol    2                1
Diane Munoz         79   F       Myocardial Infarction  2023-10-30      Digoxin     2                1
Dorothy Richardson  75   M       Myocardial Infarction  2017-03-10      Metoprolol  4                1
Joshua Roberts      66   F       Myocardial Infarction  2022-03-27      Metoprolol  2                1
Michael Romero      43   M       Arrhythmia             2023-12-06      Ramipril    2                1
Raymond Williams    57   F       Heart Failure          2021-09-07      Digoxin     2                1
Rebecca Ellis       69   M       Hypertension           2020-02-16      Lisinopril  3                1
Robert Kerr         37   F       Myocardial Infarction  2018-12-31      Atenolol    5                1
Name: count, dtype: int64

In [20]:
cardio_diagnostic_df['Medication'].value_counts()

Medication
Atenolol      3
Digoxin       3
Metoprolol    2
Lisinopril    1
Ramipril      1
Name: count, dtype: int64

In [21]:
cardio_diagnostic_df['Gender'].value_counts()

Gender
F    5
M    5
Name: count, dtype: int64

In [22]:
cardio_diagnostic_df['Diagnosis Date'].value_counts()

Diagnosis Date
2022-03-27    1
2018-12-31    1
2017-08-06    1
2016-06-01    1
2020-02-16    1
2023-10-30    1
2023-12-06    1
2021-01-02    1
2021-09-07    1
2017-03-10    1
Name: count, dtype: int64